.logo {
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.logo:hover {
  fill: #0d6efd;
  -webkit-transform: rotate(-20deg);
          transform: rotate(-20deg); 
}

@media (max-width: 992px) {
  .user-card__divider {
    display: none !important;
  }
}

@media (max-width: 576px) {
  .post-item {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 768px) {
  .filters__container {
    flex-direction: column !important;
    align-items: flex-end !important;
  }
}